* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c3737;
  text-align: center;
}
h1{
    margin-top: 50px;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 5px black;
  font-size: 4rem;
  color:rgb(16, 2, 2 );
}
#reset{
  padding: 12px;
  font-size: 1rem;
  color: white;
  background-color: rgb(16, 2, 2);
  border: none;
  border-radius: 0.5rem;
}
.container-win{
  height: 20px;
}
#msg{
  margin-top: 40px;
  font-size: 30px;
  color: aliceblue;
}
.hide{
  display: none;
}